:root {
    --header-color: #00d7bb;
    --text-color: rgb(241, 241, 241);
    --background-color: #1a1d22;
    --app-color: #22252c;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    font-size: 1.4rem;
}

.app {
    background-color: var(--app-color);
    max-width: 85vw;
    min-height: 80vh;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav-bar {
    list-style: none;
}

.nav-bar a {
    text-decoration: none;
    color: var(--header-color);

}