:root {
    --header-color: #00d7bb;
    --text-color: rgb(241, 241, 241);
    --background-color: #1a1d22;
    --app-color: #22252c;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    font-size: 1rem;
}

.app {
    background-color: var(--app-color);
    max-width: 90vw;
    min-height: 80vh;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav-bar {
    list-style: none;
    padding-top: 2.2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 4.375rem;
    padding-right: 5rem;
}

.nav-bar a {
    text-decoration: none;
    color: var(--header-color);
    margin-right: 2rem;
}

.nav-bar a:hover, .nav-bar a:focus {
    color: #00d7bac2;
}

.firstLi {
    margin-right: auto;
    text-transform: uppercase;
    font-size: 1.1rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
    align-items: end;
}

.photo img {
    border-radius: 50%;
    margin-right: 10rem;
}

.about-me h1 {
    color: var(--header-color);
    font-size: 4rem;
    margin: 0;
}

.about-me h2 {
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 1rem;
}

.animate
{
   text-transform: uppercase;
    background-image: linear-gradient(
    -225deg,
    #c9fcf5 0%,
    #008f7c 29%,
    #46cebc 67%,
    #00d7bb 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.about-me p {
    font-size: 2.2rem;
    font-weight: 400;
    margin-top: 0;
}

#spin {
    color: var(--header-color);
    background-image: linear-gradient(
    -225deg,
    #c9fcf5 0%,
    #008f7c 29%,
    #46cebc 67%,
    #00d7bb 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
    
  }
  #spin:after {
    content:"";
    animation: spin 10s linear infinite;
  }
@keyframes spin {
    0% { content: "HTML";}
    30% { content: "CSS";}
    50% { content: "JAVASCRIPT";}
    75% { content: "VUE";}
    99% { content: "JQUERY";}
  }

  