:root {
    --header-color: #00d7bb;
    --text-color: rgb(241, 241, 241);
    --background-color: #1a1d22;
    --app-color: #22252c;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    font-size: 1rem;
}

.app {
    background-color: var(--app-color);
    max-width: 90vw;
    min-height: 80vh;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav-bar {
    list-style: none;
    padding-top: 2.2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 4.375rem;
    padding-right: 5rem;
}

.nav-bar a {
    text-decoration: none;
    color: var(--header-color);
    margin-right: 2rem;
}

.nav-bar a:hover, .nav-bar a:focus {
    color: #00d7bac2;
}

.firstLi {
    margin-right: auto;
    text-transform: uppercase;
    font-size: 1.1rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 10rem;
    align-items: end;
    padding: 0 2rem;
}

.photo img {
    border-radius: 50%;
    margin-right: 10rem;
}

h1 {
    color: var(--header-color);
    font-size: 4rem;
    margin: 0;
}

.intro h2 {
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 1rem;
}

#download {
    background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
    padding: 0.8rem 1.8rem;
    text-align: center;
    text-transform: uppercase;
    transition: 1s;
    background-size: 200% auto;
    color: var(--text-color);            
    border-radius: 7px;
    font-size: 1.3rem;
    text-decoration: none;
    letter-spacing: 0;
}


.intro svg {
    margin-left: 7px;
}

#download:hover, #download:focus {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.intro p {
    font-size: 2.2rem;
    font-weight: 400;
    margin-top: 0;
}


  